.card {
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 4/3.5;
}

.info {
  padding: 2rem 2rem 3rem;
}

.info p {
  font-size: 1.4rem;
}
